.navbar {
  width: 20%;
  min-height: 100vh;
  background-color: #333;
  padding-top: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  flex-direction: column;
}

.navbar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.navbar ul li {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.navbar ul li a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  padding: 10px 15px;
  width: 100%;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  display: flex;
  align-items: center;
}

.navbar ul li a .icon {
  margin-right: 10px;
  font-size: 1.5rem;
}

.navbar ul li a:hover {
  color: #ffcc00;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
}

.logout-button {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  padding: 0;
  font-size: inherit;
}

.navbar ul li::before {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  right: 0;
  background-color: #ffcc00;
  height: 3px;
  width: 0;
  transition: width 0.3s ease-in-out;
}
.navbar ul li:hover::before {
  width: 100%;
}

@media (max-width: 768px) {
  .navbar {
    width: 100%;
    height: auto;
    position: relative;
  }

  .navbar ul li a {
    font-size: 1rem;
    padding: 10px;
  }
}